body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightblue;
}

.titulo{
    text-shadow: 5px 5px 10px darkslategray ;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.cabeca {
    margin: auto;
    text-align: center;
    background-color: rgb(138, 182, 197);
    width: 700px;
    border-style: groove;
    border-color: rgb(80, 98, 104);
    border-radius: 15px;
    font-size: 40px;
 }

 .lista {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    background-color: rgb(138, 182, 197);
    width: 500px;
    border-style: groove;
    border-color: rgb(80, 98, 104);
    border-radius: 15px;
    font-size: 60px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
 }

 .texto{
    text-align: center;
    background-color: rgb(138, 182, 197);
    border-style: groove;
    border-color: rgb(80, 98, 104);
    border-radius: 15px;
    font-family: monospace;
    font-size: 20px;
 }

 .foto{ 
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    border-style: groove;
    border-color: rgb(80, 98, 104);
    padding: 0px 0px;
 }

 .rodape {
    text-align: center;
    text-decoration: underline;
 }
 