html,body{
    margin: 0;
    padding: 0;
}

body{
    font-family: "lato", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.top-bar{
    background-color: #ff6b28;
    padding: 15px;
    text-align: center;
}

#header{
    background: url("./images/hero_bolo.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

h1, h2, h3, h4, h5, h6{
    color: #ff6b28;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 28px;
    margin-bottom: 40px;
}

.container{
    max-width: 990px;
    margin: auto;
    padding: 40px;
    margin-top: 100px;
}

.card{
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}    

.ingredients{
    cursor: url("./images/cursor_intrucoes.png"), default;
}

.preparation{
    cursor: url("./images/cursor_preparo.png"), default;
}

li{
    margin-bottom: 14px;
}

.ingredients-list{
    margin-bottom: 50px;
}

.buy-button{
    background-color: #ff6b28;
    padding: 16px;
    border-radius: 20px;
    color: white;
}

a{
    text-decoration: none;
}

.footer{
    background-color: #ff6b28;
    height: 100px;;
 }
